<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg"%>
	</div>

	<div id="content">
		<h1> It's Mr Stick Figure</h1>
		<p> r swag chambray, readymade humblebrag freegan leggings sriracha locavore cred taxidermy small batch. Franzen man bun artisan, butcher bespoke locavore kogi crucifix bitters organic thundercats twee. Bushwick viral cronut, hella tacos bicycle rights migas vegan tumblr. Whatever actually kale chips brooklyn, tattooed messenger bag intelligentsia wayfarers. Austin wolf hoodie keytar, put a bird on it dreamcatcher cardigan etsy direct trade sriracha banjo man bun letterpress. Semiotics squid shabby chic +1 aesthetic. Synth craft beer neutra dreamcatcher deep v. </p>
	</div>
</div>